<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
	<servlet>
		<servlet-name>DoCheckLogin</servlet-name>
		<servlet-class>servletPackage.DoCheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoCheckLogin</servlet-name>
		<url-pattern>/DoCheckLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoChangeEvent</servlet-name>
		<servlet-class>servletPackage.DoChangeEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoChangeEvent</servlet-name>
		<url-pattern>/DoChangeEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoCreateEvent</servlet-name>
		<servlet-class>servletPackage.DoCreateEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoCreateEvent</servlet-name>
		<url-pattern>/DoCreateEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoNextWeek</servlet-name>
		<servlet-class>servletPackage.DoNextWeek</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoNextWeek</servlet-name>
		<url-pattern>/DoNextWeek</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoPrevWeek</servlet-name>
		<servlet-class>servletPackage.DoPrevWeek</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoPrevWeek</servlet-name>
		<url-pattern>/DoPrevWeek</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoCurWeek</servlet-name>
		<servlet-class>servletPackage.DoCurWeek</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoCurWeek</servlet-name>
		<url-pattern>/DoCurWeek</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>DoDeleteEvent</servlet-name>
		<servlet-class>servletPackage.DoDeleteEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDeleteEvent</servlet-name>
		<url-pattern>/DoDeleteEvent</url-pattern>
	</servlet-mapping>
</web-app>